.navbar a {
    color: white !important;
    text-decoration: none;
}

.navbar a:hover {
    color: #ccc !important;
    text-decoration: none;
}

.dropdown-menu {
  background-color: #222 !important;
  border: none;
}

.dropdown-item {
  color: #fff !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #444 !important;
  color: #fff !important;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-item .nav-link {
  color: #fff !important;
}